<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-header">         
                <a class="navbar-left logo-hover" [routerLink]="['/home']">
                    <div class="logo"></div>
                </a>
            </div>
            <div>
                <a class="nav-link nav-link-fade-up" [routerLink]="['/home']">
                    <span><i class="fa fa-home"></i></span> Home
                </a>
            </div>
            <div class="dropdown nav-link nav-link-fade-up">
                    <p>
                            <span><i class="fa fa-bars"></i></span> Menu
                    </p>
                    <div class="dropdown-content">
                      <a class="nav-link nav-link-grow-up" [routerLink]="['/projects']">Projects</a>
                      <a class="nav-link nav-link-grow-up" [routerLink]="['/employees']">Employees</a>
                      <a class="nav-link nav-link-grow-up" [routerLink]="['/technologies']">Technologies</a>
                    </div>
            </div>
            <div class="navbar-default">
                        <a class="navbar-right nav-link nav-link-fade-up" [routerLink]="['/login']" *ngIf= "!isLoggedIn">
                                <span><i class="fa fa-user"></i></span> Log In
                        </a>
            </div>  
            <div class="navbar-default">
                <a class="navbar-right nav-link nav-link-fade-up" [routerLink]="['/login']" *ngIf= "isLoggedIn">
                        <span><i class="fa fa-user"></i></span> Log out
                </a>
            </div>    
            
        </nav>
    </div>
    
    <div id="content">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>